/* ::-webkit-scrollbar {
width: 30px;
} */

@font-face {
  font-family: 'Barlow';
   src: url("./fonts/Barlow/Barlow-Regular.ttf");
 }
 @font-face {
   font-family: 'Barlow-Bold';
    src: url("./fonts/Barlow/Barlow-Bold.ttf");
  }
  @font-face {
    font-family: 'Barlow-MediumItalic';
     src: url("./fonts/Barlow/Barlow-MediumItalic.ttf");
   }
   @font-face {
    font-family: 'Barlow-Light';
     src: url("./fonts/Barlow/Barlow-Light.ttf");
   }
   @font-face {
    font-family: 'Barlow-Medium';
     src: url("./fonts/Barlow/Barlow-Medium.ttf");
   }
 :root{
 
   --primary-color: #005cff;
   --secondary-color: #eb8ca5;
   --hover-color: #ff3c00;
   --white:#ffffff;
   --font-size: 16px;
   --alternative: #00B89C;
   --menu-background: #2d2f8d;
   --color-alternative: #ff8334;
   --section-color: #222473;
   --section-color-secondory: #42e8b4;
 }
 
 * {
   font-family: Barlow,sans-serif;
   color: var(--white);
   box-sizing: border-box;
 }
 
 .main-info {
 
   left: 18%;
 
 }
 
 .main {
 
   min-height: 100vh;
 
 
 }
 
 .decorate {
   color: var(--secondary-color);
   font-weight: bold;
 }
 
 .main-description_elovers {
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
   align-items: end;
 
 }
 
 .main-description_elovers div p {
   margin-top: 5px;
 }
 
 .sign-img {
 
   margin-top: 20px;
 
 
 }
 
 .e-culture {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
  
 
 }
 
 
 
 .container-menu {
 
   position: fixed;
   z-index: 20;
   margin-left: 10px;
 }
 .container-menu .menu {
 
 
   list-style: none;
 
 }
 
 .container-menu .menu li a {
   text-decoration: none;
   color: var(--white);
 
 }
 .container-menu .menu li {
   text-align: center;
 
   background-color: var(--menu-background);
 
   width: 50px;
   margin-top: 10px;
   height: 50px;
   line-height: 30px;
 
   border-radius: 50%;
 
 }
 
 .container-menu .menu li a {
 
   display: inline-block;
   width: 165px;
   height: 25px;
   line-height: 25px;
   background-color: var(--menu-background);
   border-right: 5px solid var(--secondary-color);
   margin-left: 7px;
   background-image: url("../img/corazon_vacio.png");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: left;
   margin-top: 13px;
 }
 
 .container-menu .menu li a:hover {
 
   background-image: url("../img/corazon_lleno.png");
 
 
 }
 
 
 
 
 
 /**
 Luis
  */
  #section-1 .card-carousel-wrapper .isActive .naranja{
    color: #ff8334;   
   }
 
 .card-carousel--nav__right, .card-carousel--nav__left {
 
   border-color: var(--white) !important;
 
 
 }
 
 .main-practices {
   background-color: var(--section-color);
   min-height: 100vh;
 }
 
 .button-practices {
   text-align: left;
   width: 150px;
   color: var(--white);
   background-color: var(--section-color);
   border:1px solid var(--white) ;
   margin-top: 10px;
   height: 40px;
 
 }
 
 .button-practices img {
   margin: 0 5px;
 }
 
 .button-practices:hover {
 
   border-color: var(--color-alternative);
   color: var(--color-alternative);
 }
 
 
 .practices-description {
 
   background-color: var(--section-color-secondory);
 
 }
 
 .practices_title, .practices_list {
 
   color: var(--color-alternative);
 
 }
 
 .practices_title {
   font-weight: bold;
 }
 
 .practices_list {
   list-style: none;
 }
 
 .practices_documents, .practices_videos, .practices_other_files {
 
   width: 250px;
   color: var(--white);
   border-radius:5px;
   display: block;
   margin-top: 10px;
 }
 
 .practices_documents {
 
   background-color:  var(--color-alternative);
 }
 
 
 
 .practices_videos, .practices_other_files {
 
   background-color: var(--primary-color);
 
 }

 #section-1.main-practices .bottom-text{
  font-size: 36px;
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 700;
 }
 #section-1.main-practices .bottom-text span{
   color: #ff8334;
   /* text-decoration: underline; */
   border-bottom: 2px solid #ff8334;
 }

 
 /*
 .practices_title_description { 
   width: 500px; 
 }
 */
 
 /*JOAN :V */
 .practices-description__content img{
   position: relative;
   z-index: 99;
 }
 
 #section-1{
   padding-bottom: 30px;
 }
 #section-1 .title{
   font-family: 'Barlow-Bold';
   position: relative;
   z-index: 9;
   margin: 12.5px 0px 75px 0px;
 }
 
 #section-1 .title:after,
 #section-1 .title:before{
   font-family: 'Barlow-Bold';
   font-size: 90px;
   color: #39d8a6;
 }
 #section-1 .title:before{
   content: 'Reclu';
   position: absolute;
   top: -70px;
   left: -5px;
   z-index: -1;
 }
 #section-1 .title:after{
   content: 'tando';
   position: absolute;
   bottom: -65px;
   left: 0;
   z-index: -1;
 }

 /*Lista Navegador*/
#navegador{
  margin-top: 45px;
  position: fixed;
  z-index: 99;
}
#navegador ul{
	list-style: none;
	padding-left: 0;
}
#navegador ul li{
	margin-bottom: 15px;
}
#navegador a{
	color: #222473;
	text-decoration: none;
	position: relative;
	display: inline-block;
}
#navegador .active{
	color: white;
}
#navegador .texto{
	display: inline-block;
	padding: 4.5px 30px;
	margin-left: 22.5px;
	/*opcional*/
	width: calc(100% + 15px);
	/* padding-left: 27px; */
  color: #222473;
  padding-left: 33px;
}
#navegador .active .texto{
	background: #2d2f8d;
  border-right: 5px solid #eb8ca5;
  color: white;
}		
#navegador .corazon_lleno{
	position: absolute;
	top:-7.5px;
	padding: 12.5px;
	background: #2d2f8d;
	border-radius: 50%;
	visibility: hidden;
}
#navegador .active .corazon_lleno{
	visibility: visible;
}

#navegador span{
	font-family:'Barlow-Bold';
	font-style:normal;
	font-weight:700;
  /* font-size:16px; */
  font-size: 14px;
  display: inline-block;
  color: #222473;
}
#navegador .active span{
  color: #fff;
}
#navegador .descripcion{
	width: 100px;
	max-width: 120px;
    visibility: hidden;
    padding-left: 7.5px;
}
#navegador .active .descripcion{
	visibility: visible;
}
/*------------ Fin ListaNavegador-----------------*/


/*2 Hablando*/
#hablando figure{
  margin: 0;
}
#hablando{
  padding-top: 45px;
  padding-bottom: 30px;
  color: black;
  min-height: 100vh;
  position: relative;
  background-image: url(../img/hablando/banner-hablando.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9;
}
#hablando .logo h3{
  color: #36c5ef;
	font-family:'Barlow-Bold';
	font-style:normal;
  font-weight:700;
  font-size: 60px  
}
#hablando .principal p{
  font-family: 'Barlow-Light';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #001843;
}
#hablando .principal p b{
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 700;
  color: #001843;
}
#hablando .principal p .camb{
  color: #36c5ef;
}

#hablando .imagen-c{
  position: absolute;
  bottom: 30px;
  left: calc(52.5% - 225px);
  z-index: -9;
}
#hablando .imagen-c img{
  position: relative;
  z-index: -9;
  width: 450px;
  /* width: 375px; */
}
#hablando .floro .fondo{
  position: relative;
  z-index: -99;
}
#hablando .floro-cont{
  position: absolute;
  z-index: 9;
  /* top: 25%; */
  top: 20%;
  right: -10%;
}
#hablando .floro-cont h5{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  font-size: 24px;
  color: #0066c5;
}
#hablando .floro-cont .texto{
  font-family:'Barlow-MediumItalic';
  font-style:normal;
  font-weight:500;
  color: white;
  font-size: 16px;
}
#hablando .floro-cont .puesto{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;  
  font-size: 16px;
  color: white;
}
#hablando .floro-cont .conocer .btn-conoceme{
  background: white;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  padding: 5.5px 22.5px;
  padding-left: 40px;
  position: relative;
  color: #005cff;  
  font-family:'Barlow-Medium';
  font-style:normal;
  font-weight:500;
  font-size: 20px;
}
#hablando .floro-cont .conocer .btn-conoceme img{
  position: absolute;
  top: 0;
  left: -8.5px;
  width: 41px;
}


#hablando-des{
  background-color: #222473;
}
#hablando-des .separar{
  top: -120px;
  z-index: 9;
}
#hablando-des .titulo{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  color: white;  
  position: absolute;
  top: calc(50% - 26.8px);
  left: 10%;
  width: 80%;
  font-size: 36px;
  margin-bottom: 0;
}
#hablando-des .titulo b{
  color: #37c7f0;
  border-bottom: 1px solid #37c7f0;
}

#hablando-des #section-1 .practices_title{
  color: #37c7f0;
}
#hablando-des #section-1 .practices_list{
  color: #37c7f0;
}
#hablando-des .button-practices:hover{
  border-color: #37c7f0 !important;
}
#hablando-de .button-practices..isActive[data-v-a7128ece]{
  border: 2px solid #37c7f0 !important;
}
#hablando-de .button-practices[data-v-a7128ece]:focus{
  border: 2px solid #37c7f0 !important;
}

#hablando-des .main-practices{
  min-height: unset;
}
#hablando-des .isActive span{
  color: #37c7f0;
}

/*------------- Fin Hablando --------------------*/

/*3 Inspirando*/
#inspirando figure{
  margin: 0;
}
#inspirando{
  padding-top: 45px;
  padding-bottom: 30px;
  color: black;
  min-height: 100vh;
  position: relative;
  background-image: url(../img/inspirando/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9;
}
#inspirando .logo h3{
  color: #2d2f8d;
	font-family:'Barlow-Bold';
	font-style:normal;
  font-weight:700;
  font-size: 60px  
}
#inspirando .principal p{
  font-family: 'Barlow-Light';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #2d2f8d;
}
#inspirando .principal p b{
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 700;
  color: #2d2f8d;
}
#inspirando .principal p span{
  font-family:'Barlow-Medium';
  font-style:normal;
  font-weight:500;
  color: #2d2f8d;
  font-size: 24px;
}
#inspirando .principal p .camb{
  color: #36c5ef;
}

#inspirando .imagen-c{
  position: absolute;
  bottom: 30px;
  /* left: calc(52.5% - 225px); */
  left: calc(58% - 360px);
  /* left: calc(43% - 360px); */
  z-index: -9;
}
#inspirando .imagen-c img{
  width: 720px;
  position: relative;
  z-index: -9;
  /* width: 450px; */
  /* width: 375px; */
}
#inspirando .floro .fondo{
  position: relative;
  z-index: -99;
}
#inspirando .floro-cont{
  /* position: absolute;
  z-index: 9;
  top: 25%;
  right: -10%; */
  position: absolute;
  z-index: 9;
  /* top: 35%; */
  right: 12%;
  /* top: 27.5%; */
  top: 32%;
}
#inspirando .floro-cont h5{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  font-size: 24px;
  color: #37c7f0;
}
#inspirando .floro-cont .texto{
  font-family:'Barlow-MediumItalic';
  font-style:normal;
  font-weight:500;
  color: white;
  font-size: 16px;
  line-height: 22px;
}
#inspirando .floro-cont .puesto{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;  
  font-size: 16px;
  color: #ff8334;
  line-height: 20px;
}
#inspirando .floro-cont .conocer .btn-conoceme{
  background: white;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  padding: 5.5px 22.5px;
  padding-left: 40px;
  position: relative;
  color: #005cff;  
  font-family:'Barlow-Medium';
  font-style:normal;
  font-weight:500;
  font-size: 20px;
}
#inspirando .floro-cont .conocer .btn-conoceme img{
  position: absolute;
  top: 0;
  left: -8.5px;
  width: 41px;
}


#inspirando-des{
  background-color: #222473;
}
#inspirando-des .separar{
  top: -120px;
  z-index: 9;
}
#inspirando-des .titulo{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  color: white;  
  position: absolute;
  top: calc(50% - 26.8px);
  left: 10%;
  width: 80%;
  font-size: 36px;
  margin-bottom: 0;
}
#inspirando-des .titulo b{
  color: #37c7f0;
  border-bottom: 2px solid #37c7f0;
}

#inspirando-des #section-1 .practices_title{
  color: #37c7f0;
}
#inspirando-des #section-1 .practices_list{
  color: #37c7f0;
}
#inspirando-des .button-practices:hover{
  border-color: #37c7f0 !important;
}
#inspirando-de .button-practices..isActive[data-v-a7128ece]{
  border: 2px solid #37c7f0 !important;
}
#inspirando-de .button-practices[data-v-a7128ece]:focus{
  border: 2px solid #37c7f0 !important;
}

#inspirando-des .main-practices{
  min-height: unset;
}

/*------------- Fin Inspirando --------------------*/



#section-1 .practices-description__content p{
  font-family:'Barlow-Light';
  font-style:normal;
  font-weight:200;
  color: #2d2f8d;
}
#section-1 .practices-description__content h4{
  font-family: 'Barlow-Medium';
  font-style:normal;
  font-weight:500;
  color: #2d2f8d;
}

#section-1 .conoceme_mas p{
  font-family: 'Barlow-Medium';
  font-style:normal;
  font-weight:500;
}



.card-carousel-wrapper{
  position: relative;
  z-index: 9;
}


.row.main-practices__content .offset-1{
  overflow-y: scroll;
  min-height: 395px;
  max-height: 395px;
}

.download-files img{
  position: absolute;
  bottom: 0px;
}
#inspirando-des .img-footer{
  bottom: -30px;
}
#inspirando-des .isActive span{
  color: #37c7f0;
}
/*Media Queries*/
@media(min-width: 1600px){
  #inspirando{
    min-height: 768px;
  }
  #hablando{
    min-height: 768px;
  }
}
@media(min-width: 1200px) and (max-width:1400px){
  #inspirando{
    padding-top: 60px;
  }
  #inspirando .floro-cont{
      top: 7%;
  }
  #hablando .floro-cont{
    top: 20%;
  }

  #navegador .texto{
    padding-right: 0px;
  }
  #navegador .descripcion{
    width: 90px;
  }
 
}

@media(min-width: 1400px){
  #inspirando .imagen-c{
    left: calc(58% - 360px);
  }
}
/* @media(min-width: 1600){
#inspirando .imagen-c {
  left: calc(58% - 360px);
}
} */


.practices_title_description{
  font-family: 'Barlow-Light';
  font-style: normal;
  font-weight: 200;
}
.practices_list{
  font-family: 'Barlow-Light';
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
}

.download-files .evidencia{
  font-family: 'Barlow-Light';
  font-style: normal;
  font-weight: 200;
  width:250px;
  font-size:30px;
}

/* #inspirando .logo h3{position: relative;}
#inspirando .logo h3::before{
  content: url(../img/hablando/hablando.png);
  position: absolute;
} */

/*Escuchando*/
#escuchando{
  background-color: #42e8b4;
}

/*2 Hablando*/
#escuchando figure{
  margin: 0;
}
#escuchando{
  padding-top: 45px;
  padding-bottom: 30px;
  color: black;
  min-height: 100vh;
  position: relative;
  background-image: url(../img/hablando/banner-hablando.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9;
}
#escuchando .logo h3{
  color: #2d2f8d;
	font-family:'Barlow-Bold';
	font-style:normal;
  font-weight:700;
  font-size: 60px  
}
#escuchando .principal p{
  font-family: 'Barlow-Light';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #001843;
}
#escuchando .principal p b{
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 700;
  color: #001843;
}
#escuchando .principal p .camb{
  font-family: 'Barlow-Medium';
  font-style: normal;
  font-weight: 500;
  color: #2d2f8d;
  font-size: 24px;
}

#escuchando .imagen-c{
  position: absolute;
  bottom: 30px;
  left: calc(52.5% - 175px);
  z-index: -9;
}
#escuchando .imagen-c img{
  position: relative;
  z-index: -9;
  /* width: 450px; */
  width: 350px;
}
#escuchando .floro .fondo{
  position: relative;
  z-index: -99;
  left:23.5%;
}
#escuchando .floro-cont{
  position: absolute;
  z-index: 9;
  /* top: 25%; */
  top: 20%;
  right: -10%;
}
#escuchando .floro-cont h5{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  font-size: 24px;
  color: #fb5b87;
}
#escuchando .floro-cont .texto{
  font-family:'Barlow-MediumItalic';
  font-style:normal;
  font-weight:500;
  color: white;
  font-size: 16px;
}
#escuchando .floro-cont .puesto{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;  
  font-size: 16px;
  color: #42e8b4;
}
#escuchando .floro-cont .conocer .btn-conoceme{
  background: white;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  padding: 5.5px 22.5px;
  padding-left: 40px;
  position: relative;
  color: #005cff;  
  font-family:'Barlow-Medium';
  font-style:normal;
  font-weight:500;
  font-size: 20px;
}
#escuchando .floro-cont .conocer .btn-conoceme img{
  position: absolute;
  top: 0;
  left: -8.5px;
  width: 41px;
}


#escuchando-des{
  background-color: #222473;
}
#escuchando-des .separar{
  top: -120px;
  z-index: 9;
}
#escuchando-des .titulo{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  color: white;  
  position: absolute;
  top: calc(50% - 26.8px);
  left: 10%;
  width: 80%;
  font-size: 36px;
  margin-bottom: 0;
}
#escuchando-des .titulo b{
  color: #fb5b87;
  border-bottom: 1px solid #fb5b87;
}

#escuchando-des #section-1 .practices_title{
  color: #fb5b87;
}
#escuchando-des #section-1 .practices_list{
  color: #fb5b87;
}
#escuchando-des .button-practices:hover{
  border-color: #fb5b87 !important;
}
#escuchando-de .button-practices..isActive[data-v-a7128ece]{
  border: 2px solid #fb5b87 !important;
}
#escuchando-de .button-practices[data-v-a7128ece]:focus{
  border: 2px solid #fb5b87 !important;
}

#escuchando-des .main-practices{
  min-height: unset;
}

#escuchando-des .isActive span{
  color: #fb5b87;
}

@media(min-width:1366px){
  #escuchando .floro-cont{
    top: 25%;
  }
}
/*------------- Fin escuchando --------------------*/


/*5 agradeciendo */
#agradeciendo figure{
  margin: 0;
}
#agradeciendo{
  padding-top: 45px;
  padding-bottom: 30px;
  color: black;
  min-height: 100vh;
  position: relative;
  background-image: url(../img/agradeciendo/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9;
}
#agradeciendo .logo h3{
  color: #2d2f8d;
	font-family:'Barlow-Bold';
	font-style:normal;
  font-weight:700;
  font-size: 60px  
}
#agradeciendo .principal p{
  font-family: 'Barlow-Light';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #001843;
}
#agradeciendo .principal p b{
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 700;
  color: #001843;
}
#agradeciendo .principal p .camb{
  font-family: 'Barlow-Medium';
  font-style: normal;
  font-weight: 500;
  color: #001843;
  font-size: 24px;
  margin-top: 30px;
  display: inline-block;  
}

#agradeciendo .imagen-c{
  position: absolute;
  bottom: 30px;
  left: calc(50% - 278px);
  z-index: -9;
}
#agradeciendo .imagen-c img{
  position: relative;
  z-index: -9;
  /* width: 450px; */
  /* width: 350px; */
  width: 556px;

}
#agradeciendo .floro .fondo{
  position: relative;
  z-index: -99;
  /* left:23.5%; */
  left: 12.5%;
}
#agradeciendo .floro-cont{
  position: absolute;
  z-index: 9;
  /* top: 25%; */
  top: 20%;
  right: -10%;
}
#agradeciendo .floro-cont h5{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  font-size: 24px;
  color: #29acf4;
}
#agradeciendo .floro-cont .texto{
  font-family:'Barlow-MediumItalic';
  font-style:normal;
  font-weight:500;
  color: white;
  font-size: 16px;
}
#agradeciendo .floro-cont .puesto{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;  
  font-size: 16px;
  color: #fb5b87;
}
#agradeciendo .floro-cont .conocer .btn-conoceme{
  background: white;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  padding: 5.5px 22.5px;
  padding-left: 40px;
  position: relative;
  color: #005cff;  
  font-family:'Barlow-Medium';
  font-style:normal;
  font-weight:500;
  font-size: 20px;
}
#agradeciendo .floro-cont .conocer .btn-conoceme img{
  position: absolute;
  top: 0;
  left: -8.5px;
  width: 41px;
}


#agradeciendo-des{
  background-color: #222473;
}
#agradeciendo-des .separar{
  top: -120px;
  z-index: 9;
}
#agradeciendo-des .titulo{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  color: white;  
  position: absolute;
  top: calc(50% - 26.8px);
  left: 10%;
  width: 80%;
  font-size: 36px;
  margin-bottom: 0;
}
#agradeciendo-des .titulo b{
  color: #37c7f0;
  border-bottom: 1px solid #37c7f0;
}

#agradeciendo-des #section-1 .practices_title{
  color: #37c7f0;
}
#agradeciendo-des #section-1 .practices_list{
  color: #37c7f0;
}
#agradeciendo-des .button-practices:hover{
  border-color: #37c7f0 !important;
}
#agradeciendo-de .button-practices..isActive[data-v-a7128ece]{
  border: 2px solid #37c7f0 !important;
}
#agradeciendo-de .button-practices[data-v-a7128ece]:focus{
  border: 2px solid #37c7f0 !important;
}

#agradeciendo-des .main-practices{
  min-height: unset;
}

#agradeciendo-des .isActive span{
  color: #37c7f0;
}

#agradeciendo-des .img-footer{
  bottom: -30px;
}

@media(min-width:1366px){
  #agradeciendo .floro-cont{
    top: 25%;
  }
}