@font-face {
  font-family: 'Barlow';
   src: url("./fonts/Barlow/Barlow-Regular.ttf");
 }
 @font-face {
   font-family: 'Barlow-Bold';
    src: url("./fonts/Barlow/Barlow-Bold.ttf");
  }
  @font-face {
    font-family: 'Barlow-MediumItalic';
     src: url("./fonts/Barlow/Barlow-MediumItalic.ttf");
   }
   @font-face {
    font-family: 'Barlow-Light';
     src: url("./fonts/Barlow/Barlow-Light.ttf");
   }
   @font-face {
    font-family: 'Barlow-Medium';
     src: url("./fonts/Barlow/Barlow-Medium.ttf");
   }

   @font-face{
     font-family: 'Barlow-SemiBold';
     src: url('./fonts/Barlow/Barlow-SemiBold.ttf')
   }


 :root{
 
   --primary-color: #005cff;
   --secondary-color: #eb8ca5;
   --hover-color: #ff3c00;
   --white:#ffffff;
   --font-size: 16px;
   --alternative: #00B89C;
   --menu-background: #2d2f8d;
   --color-alternative: #ff8334;
   --section-color: #222473;
   --section-color-secondory: #42e8b4;
 }
 
 * {
   font-family: Barlow,sans-serif;
   color: var(--white);
   box-sizing: border-box;
 }
 
 .main-info { 
   left: 18%; 
 }
 
 .main { 
   min-height: 100vh; 
 }
 
 .decorate {
   color: var(--secondary-color);
   font-weight: bold;
 }
 
 .main-description_elovers {
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
   align-items: end;
 }
 @media(min-width: 768px) and (max-width: 1199px){
  .main-description_elovers {
    margin-top: 15px;
  }
 }

 .main-description_elovers div p {
   margin-top: 5px;
 }
 
 .sign-img {
 
   margin-top: 20px;
 
 
 }
 
 .e-culture {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
  
 
 }
 
 
 
 .container-menu {
 
   position: fixed;
   z-index: 20;
   margin-left: 10px;
 }
 .container-menu .menu {
 
 
   list-style: none;
 
 }
 
 .container-menu .menu li a {
   text-decoration: none;
   color: var(--white);
 
 }
 .container-menu .menu li {
   text-align: center;
 
   background-color: var(--menu-background);
 
   width: 50px;
   margin-top: 10px;
   height: 50px;
   line-height: 30px;
 
   border-radius: 50%;
 
 }
 
 .container-menu .menu li a {
 
   display: inline-block;
   width: 165px;
   height: 25px;
   line-height: 25px;
   background-color: var(--menu-background);
   border-right: 5px solid var(--secondary-color);
   margin-left: 7px;
   background-image: url("../img/corazon_vacio.png");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: left;
   margin-top: 13px;
 }
 
 .container-menu .menu li a:hover {
 
   background-image: url("../img/corazon_lleno.png");
 
 
 }
 
 
 
 
 
 /**
 Luis
  */
  #section-1 .card-carousel-wrapper .isActive .naranja{
    color: #ff8334;   
   }
 
 .card-carousel--nav__right, .card-carousel--nav__left {
 
   border-color: var(--white) !important;
 
 
 }
 
 .main-practices {
   background-color: var(--section-color);
   /* joan recuperar */
   /* min-height: 100vh; */
 }
 
 .button-practices{
   text-align: left;
   width: 150px;
   color: var(--white);
   background-color: var(--section-color);
   border:1px solid var(--white) ;
   margin-top: 10px;
   height: 40px; 
 }
 
 .button-practices img {
   margin: 0 5px;
 }
 
 .button-practices:hover {
 
   border-color: var(--color-alternative);
   color: var(--color-alternative);
 }
 
 
 .practices-description {
 
   background-color: var(--section-color-secondory);
 
 }
 
 .practices_title, .practices_list {
 
   color: var(--color-alternative);
 
 }
 
 .practices_title {
   font-weight: bold;
 }
 
 .practices_list {
   list-style: none;
 }
 
 .practices_documents, .practices_videos, .practices_other_files {
 
   width: 250px;
   color: var(--white);
   border-radius:5px;
   display: block;
   margin-top: 10px;
 }
 
 .practices_documents {
 
   background-color:  var(--color-alternative);
 }
 
 
 
 .practices_videos, .practices_other_files {
 
   background-color: var(--primary-color);
 
 }

 #section-1.main-practices .bottom-text{
  font-size: 36px;
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 700;
 }
 #section-1.main-practices .bottom-text span{
   color: #ff8334;
   /* text-decoration: underline; */
   border-bottom: 2px solid #ff8334;
 }

 
 /*
 .practices_title_description { 
   width: 500px; 
 }
 */
 
 /*JOAN :V */
 .practices-description__content img{
   position: relative;
   z-index: 99;
 }
 
 #section-1{
   padding-bottom: 30px;
 }
 #section-1 .title{
   font-family: 'Barlow-Bold';
   position: relative;
   z-index: 9;
   margin: 12.5px 0px 75px 0px;
 }
 
 #section-1 .title:after,
 #section-1 .title:before{
   font-family: 'Barlow-Bold';
   font-size: 90px;
   color: #39d8a6;
 }
 #section-1 .title:before{
   content: 'Reclu';
   position: absolute;
   top: -70px;
   left: -5px;
   z-index: -1;
 }
 #section-1 .title:after{
   content: 'tando';
   position: absolute;
   bottom: -65px;
   left: 0;
   z-index: -1;
 }

 /*Lista Navegador*/
#navegador{
  margin-top: 45px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 10%;
}
@media(max-width: 1919px){
  #navegador{
    left: 0;
  }  
}
#navegador ul{
	list-style: none;
	padding-left: 0;
}
#navegador ul li{
	margin-bottom: 15px;
}
#navegador a{
	color: #222473;
	text-decoration: none;
	position: relative;
	display: inline-block;
}
#navegador .active{
	color: white;
}
#navegador .texto{
	display: inline-block;
	padding: 4.5px 30px;
	margin-left: 22.5px;
	/*opcional*/
	width: calc(100% + 15px);
	/* padding-left: 27px; */
  color: #222473;
  padding-left: 33px;
  transition: all 0.5s;
}
@media(max-width: 1199px){
  #navegador .texto{
    width: 100%;
    /* height: 29.7px; */
    padding-right: 0px;
  }
}

#navegador .active .texto{
	background: #2d2f8d;
  border-right: 5px solid #eb8ca5;
  color: white;
}		
#navegador .corazon_lleno{
	position: absolute;
  top: 2.5px;
  padding: 7.5px;
	background: #2d2f8d;
	border-radius: 50%;
	visibility: hidden;
}
#navegador .active .corazon_lleno{
	visibility: visible;
}

#navegador span{
	font-family:'Barlow-Bold';
	font-style:normal;
	font-weight:700;
  /* font-size:16px; */
  font-size: 14px;
  display: inline-block;
  /* color: #222473; */
  color: #fff;
  text-shadow: -1px 1px 5px #00000080;
  
}
#navegador .active span{
  color: #fff !important;
}
#navegador .descripcion{
	width: 100px;
	max-width: 120px;
    visibility: hidden;
    padding-left: 7.5px;
}
@media(max-width: 1199px){
  #navegador .descripcion{
    width: unset;
  }
}
#navegador .active .descripcion{
	visibility: visible;
}

#navegador .active{
  transition: all 0.5s;
}
#navegador .active:hover{
  transform: scale(1.12);
}


/*------------ Fin ListaNavegador-----------------*/


/*2 Hablando*/
#hablando figure{
  margin: 0;
}
#hablando{
  padding-top: 45px;
  padding-bottom: 30px;
  color: black;
  min-height: 100vh;
  position: relative;
  background-image: url(../img/hablando/banner-hablando.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9;
}
#hablando .logo h3{
  color: #36c5ef;
	font-family:'Barlow-Bold';
	font-style:normal;
  font-weight:700;
  font-size: 60px  
}
#hablando .principal p{
  font-family: 'Barlow-Light';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #001843;
}
#hablando .principal p b{
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 700;
  color: #001843;
}
#hablando .principal p .camb{
  color: #36c5ef;
}

#hablando .imagen-c{
  position: absolute;
  bottom: 30px;
  left: calc(52.5% - 225px);
  z-index: -9;
}
#hablando .imagen-c img{
  position: relative;
  z-index: -9;
  width: 450px;
  /* width: 375px; */
}
#hablando .floro .fondo{
  position: relative;
  z-index: -99;
}
#hablando .floro-cont{
  position: absolute;
  z-index: 9;
  /* top: 25%; */
  top: 20%;
  right: -10%;
}
#hablando .floro-cont h5{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  font-size: 24px;
  color: #0066c5;
}
#hablando .floro-cont .texto{
  font-family:'Barlow-MediumItalic';
  font-style:normal;
  font-weight:500;
  color: white;
  font-size: 16px;
}
#hablando .floro-cont .puesto{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;  
  font-size: 16px;
  color: white;
}
#hablando .floro-cont .conocer .btn-conoceme{
  background: white;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  padding: 5.5px 22.5px;
  padding-left: 40px;
  position: relative;
  color: #005cff;  
  font-family:'Barlow-Medium';
  font-style:normal;
  font-weight:500;
  font-size: 20px;
}
#hablando .floro-cont .conocer .btn-conoceme img{
  position: absolute;
  top: 0;
  left: -8.5px;
  width: 41px;
}


#hablando-des{
  background-color: #222473;
}
#hablando-des .separar{
  top: -120px;
  z-index: 9;
}
#hablando-des .titulo{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  color: white;  
  position: absolute;
  top: calc(50% - 26.8px);
  left: 10%;
  width: 80%;
  font-size: 36px;
  margin-bottom: 0;
}
#hablando-des .titulo b{
  color: #37c7f0;
  border-bottom: 1px solid #37c7f0;
}

#hablando-des #section-1 .practices_title{
  color: #37c7f0;
}
#hablando-des #section-1 .practices_list{
  color: #37c7f0;
}
#hablando-des .button-practices:hover{
  border-color: #37c7f0 !important;
}
#hablando-de .button-practices..isActive[data-v-a7128ece]{
  border: 2px solid #37c7f0 !important;
}
#hablando-de .button-practices[data-v-a7128ece]:focus{
  border: 2px solid #37c7f0 !important;
}

#hablando-des .main-practices{
  min-height: unset;
}
#hablando-des .isActive span{
  color: #37c7f0;
}

/*------------- Fin Hablando --------------------*/

/*3 Inspirando*/
#inspirando figure{
  margin: 0;
}
#inspirando{
  padding-top: 45px;
  padding-bottom: 30px;
  /* padding-top: 60px;
  padding-bottom: 60px; */
  color: black;
  min-height: 100vh;
  position: relative;
  background-image: url(../img/inspirando/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9;
}
#inspirando .logo h3{
  color: #2d2f8d;
	font-family:'Barlow-Bold';
	font-style:normal;
  font-weight:700;
  font-size: 60px  
}
#inspirando .principal p{
  font-family: 'Barlow-Light';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #2d2f8d;
}
#inspirando .principal p b{
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 700;
  color: #2d2f8d;
}
#inspirando .principal p span{
  font-family:'Barlow-Medium';
  font-style:normal;
  font-weight:500;
  color: #2d2f8d;
  font-size: 24px;
}
#inspirando .principal p .camb{
  color: #36c5ef;
}

#inspirando .imagen-c{
  position: absolute;
  /* bottom: 30px; */
  bottom: 0px;
  /* left: calc(52.5% - 225px); */
  left: calc(58% - 360px);
  /* left: calc(43% - 360px); */
  z-index: -9;
}
#inspirando .imagen-c img{
  width: 720px;
  position: relative;
  z-index: -9;
  /* width: 450px; */
  /* width: 375px; */
}
@media(min-width: 1920px){
  #inspirando .imagen-c img{
    width: 842px !important;
  }
}
#inspirando .floro .fondo{
  position: relative;
  z-index: -99;
}
#inspirando .floro-cont{
  /* position: absolute;
  z-index: 9;
  top: 25%;
  right: -10%; */
  position: absolute;
  z-index: 9;
  /* top: 35%; */
  right: 12%;
  /* top: 27.5%; */
  top: 32%;
}
#inspirando .floro-cont h5{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  font-size: 24px;
  color: #37c7f0;
}
#inspirando .floro-cont .texto{
  font-family:'Barlow-MediumItalic';
  font-style:normal;
  font-weight:500;
  color: white;
  font-size: 16px;
  line-height: 22px;
}
#inspirando .floro-cont .puesto{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;  
  font-size: 16px;
  color: #ff8334;
  line-height: 20px;
}
#inspirando .floro-cont .conocer .btn-conoceme{
  background: white;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  padding: 5.5px 22.5px;
  padding-left: 40px;
  position: relative;
  color: #005cff;  
  font-family:'Barlow-Medium';
  font-style:normal;
  font-weight:500;
  font-size: 20px;
}
#inspirando .floro-cont .conocer .btn-conoceme img{
  position: absolute;
  top: 0;
  left: -8.5px;
  width: 41px;
}


#inspirando-des{
  background-color: #222473;
}
#inspirando-des .separar{
  top: -120px;
  z-index: 9;
}
#inspirando-des .titulo{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  color: white;  
  position: absolute;
  top: calc(50% - 26.8px);
  left: 10%;
  width: 80%;
  font-size: 36px;
  margin-bottom: 0;
}
#inspirando-des .titulo b{
  color: #37c7f0;
  border-bottom: 2px solid #37c7f0;
}

#inspirando-des #section-1 .practices_title{
  color: #37c7f0;
}
#inspirando-des #section-1 .practices_list{
  color: #37c7f0;
}
#inspirando-des .button-practices:hover{
  border-color: #37c7f0 !important;
}
#inspirando-de .button-practices..isActive[data-v-a7128ece]{
  border: 2px solid #37c7f0 !important;
}
#inspirando-de .button-practices[data-v-a7128ece]:focus{
  border: 2px solid #37c7f0 !important;
}

#inspirando-des .main-practices{
  min-height: unset;
}

/*------------- Fin Inspirando --------------------*/



#section-1 .practices-description__content p{
  font-family:'Barlow-Light';
  font-style:normal;
  font-weight:200;
  color: #2d2f8d;
  /* joan padding-right: 90px; */
  padding-right: 90px;
  font-size: 16px !important;
}
#section-1 .practices-description__content h4{
  font-family: 'Barlow-Medium';
  font-style:normal;
  font-weight:500;
  color: #2d2f8d;
}

#section-1 .conoceme_mas p{
  font-family: 'Barlow-Medium';
  font-style:normal;
  font-weight:500;
}



.card-carousel-wrapper{
  position: relative;
  z-index: 9;
}


/* .row.main-practices__content .offset-1{
  overflow-y: scroll;
  min-height: 395px;
  max-height: 395px;
} */
.row.main-practices__content .di {
  overflow-y: scroll;
  min-height: 395px;
  max-height: 395px;
}

.download-files img{
  position: absolute;
  bottom: 0px;
}
#inspirando-des .img-footer{
  bottom: -30px;
}
#inspirando-des .isActive span{
  color: #37c7f0;
}
/*Media Queries*/
@media(min-width: 1600px){
  /* #inspirando{
    min-height: 768px;
  } */
  /* #hablando{
    min-height: 768px;
  } */
}
@media(min-width: 1200px) and (max-width:1400px){
  #inspirando{
    padding-top: 60px;
  }
  #inspirando .floro-cont{
      top: 7%;
  }
  #hablando .floro-cont{
    top: 20%;
  }

  #navegador .texto{
    padding-right: 0px;
  }
  #navegador .descripcion{
    width: 90px;
  }
 
}

@media(min-width: 1400px){
  #inspirando .imagen-c{
    left: calc(58% - 360px);
  }
}
/* @media(min-width: 1600){
#inspirando .imagen-c {
  left: calc(58% - 360px);
}
} */


.practices_title_description{
  font-family: 'Barlow-Light';
  font-style: normal;
  font-weight: 200;
}
.practices_list{
  font-family: 'Barlow-Light';
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
}

.download-files .evidencia{
  font-family: 'Barlow-Light';
  font-style: normal;
  font-weight: 200;
  width:250px;
  font-size:30px;
}

/* #inspirando .logo h3{position: relative;}
#inspirando .logo h3::before{
  content: url(../img/hablando/hablando.png);
  position: absolute;
} */

/*Escuchando*/
#escuchando{
  background-color: #42e8b4;
}

/*2 Hablando*/
#escuchando figure{
  margin: 0;
}
#escuchando{
  padding-top: 45px;
  padding-bottom: 30px;
  color: black;
  min-height: 100vh;
  position: relative;
  /* background-image: url(../img/hablando/banner-hablando.png); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9;
}
#escuchando .logo h3{
  color: #2d2f8d;
	font-family:'Barlow-Bold';
	font-style:normal;
  font-weight:700;
  font-size: 60px  
}
#escuchando .principal p{
  font-family: 'Barlow-Light';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #001843;
}
#escuchando .principal p b{
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 700;
  color: #001843;
}
#escuchando .principal p .camb{
  font-family: 'Barlow-Medium';
  font-style: normal;
  font-weight: 500;
  color: #2d2f8d;
  font-size: 24px;
}

#escuchando .imagen-c{
  position: absolute;
  bottom: 30px;
  left: calc(52.5% - 175px);
  z-index: -9;
}
#escuchando .imagen-c img{
  position: relative;
  z-index: -9;
  /* width: 450px; */
  width: 350px;
}
#escuchando .floro .fondo{
  position: relative;
  z-index: -99;
  left:23.5%;
}
#escuchando .floro-cont{
  position: absolute;
  z-index: 9;
  /* top: 25%; */
  top: 20%;
  right: -10%;
}
#escuchando .floro-cont h5{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  font-size: 24px;
  color: #fb5b87;
}
#escuchando .floro-cont .texto{
  font-family:'Barlow-MediumItalic';
  font-style:normal;
  font-weight:500;
  color: white;
  font-size: 16px;
}
#escuchando .floro-cont .puesto{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;  
  font-size: 16px;
  color: #42e8b4;
}
#escuchando .floro-cont .conocer .btn-conoceme{
  background: white;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  padding: 5.5px 22.5px;
  padding-left: 40px;
  position: relative;
  color: #005cff;  
  font-family:'Barlow-Medium';
  font-style:normal;
  font-weight:500;
  font-size: 20px;
}
#escuchando .floro-cont .conocer .btn-conoceme img{
  position: absolute;
  top: 0;
  left: -8.5px;
  width: 41px;
}


#escuchando-des{
  background-color: #222473;
}
#escuchando-des .separar{
  top: -120px;
  z-index: 9;
}
#escuchando-des .titulo{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  color: white;  
  position: absolute;
  top: calc(50% - 26.8px);
  left: 10%;
  width: 80%;
  font-size: 36px;
  margin-bottom: 0;
}
#escuchando-des .titulo b{
  color: #fb5b87;
  border-bottom: 1px solid #fb5b87;
}

#escuchando-des #section-1 .practices_title{
  color: #fb5b87;
}
#escuchando-des #section-1 .practices_list{
  color: #fb5b87;
}
#escuchando-des .button-practices:hover{
  border-color: #fb5b87 !important;
}
#escuchando-de .button-practices..isActive[data-v-a7128ece]{
  border: 2px solid #fb5b87 !important;
}
#escuchando-de .button-practices[data-v-a7128ece]:focus{
  border: 2px solid #fb5b87 !important;
}

#escuchando-des .main-practices{
  min-height: unset;
}

#escuchando-des .isActive span{
  color: #fb5b87;
}

@media(min-width:1919px){
  #escuchando .floro-cont{
    top: 25%;
  }
}
/*------------- Fin escuchando --------------------*/


/*5 agradeciendo */
#agradeciendo figure{
  margin: 0;
}
#agradeciendo{
  padding-top: 45px;
  padding-bottom: 30px;
  color: black;
  min-height: 100vh;
  position: relative;
  background-image: url(../img/agradeciendo/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9;
}
#agradeciendo .logo h3{
  color: #2d2f8d;
	font-family:'Barlow-Bold';
	font-style:normal;
  font-weight:700;
  font-size: 60px  
}
#agradeciendo .principal p{
  font-family: 'Barlow-Light';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #001843;
}
#agradeciendo .principal p b{
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 700;
  color: #001843;
}
#agradeciendo .principal p .camb{
  font-family: 'Barlow-Medium';
  font-style: normal;
  font-weight: 500;
  color: #001843;
  font-size: 24px;
  margin-top: 30px;
  display: inline-block;  
}

#agradeciendo .imagen-c{
  position: absolute;
  bottom: 30px;
  left: calc(50% - 278px);
  z-index: -9;
}
#agradeciendo .imagen-c img{
  position: relative;
  z-index: -9;
  /* width: 450px; */
  /* width: 350px; */
  width: 556px;

}
#agradeciendo .floro .fondo{
  position: relative;
  z-index: -99;
  /* left:23.5%; */
  left: 12.5%;
}
#agradeciendo .floro-cont{
  position: absolute;
  z-index: 9;
  /* top: 25%; */
  top: 20%;
  right: -10%;
}
#agradeciendo .floro-cont h5{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  font-size: 24px;
  color: #29acf4;
}
#agradeciendo .floro-cont .texto{
  font-family:'Barlow-MediumItalic';
  font-style:normal;
  font-weight:500;
  color: white;
  font-size: 16px;
}
#agradeciendo .floro-cont .puesto{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;  
  font-size: 16px;
  color: #fb5b87;
}
#agradeciendo .floro-cont .conocer .btn-conoceme{
  background: white;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  padding: 5.5px 22.5px;
  padding-left: 40px;
  position: relative;
  color: #005cff;  
  font-family:'Barlow-Medium';
  font-style:normal;
  font-weight:500;
  font-size: 20px;
}
#agradeciendo .floro-cont .conocer .btn-conoceme img{
  position: absolute;
  top: 0;
  left: -8.5px;
  width: 41px;
}


#agradeciendo-des{
  background-color: #222473;
}
#agradeciendo-des .separar{
  top: -120px;
  z-index: 9;
}
#agradeciendo-des .titulo{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  color: white;  
  position: absolute;
  top: calc(50% - 26.8px);
  left: 10%;
  width: 80%;
  font-size: 36px;
  margin-bottom: 0;
}
#agradeciendo-des .titulo b{
  color: #37c7f0;
  border-bottom: 1px solid #37c7f0;
}

#agradeciendo-des #section-1 .practices_title{
  color: #37c7f0;
}
#agradeciendo-des #section-1 .practices_list{
  color: #37c7f0;
}
#agradeciendo-des .button-practices:hover{
  border-color: #37c7f0 !important;
}
#agradeciendo-de .button-practices..isActive[data-v-a7128ece]{
  border: 2px solid #37c7f0 !important;
}
#agradeciendo-de .button-practices[data-v-a7128ece]:focus{
  border: 2px solid #37c7f0 !important;
}

#agradeciendo-des .main-practices{
  min-height: unset;
}

#agradeciendo-des .isActive span{
  color: #37c7f0;
}

#agradeciendo-des .img-footer{
  bottom: -30px;
}

@media(min-width:1919px){
  #agradeciendo .floro-cont{
    top: 25%;
  }
}

/*------------------------------------------*/

/*2 desarrollando*/
#desarrollando figure{
  margin: 0;
}
#desarrollando{
  padding-top: 45px;
  padding-bottom: 30px;
  color: black;
  min-height: 100vh;
  position: relative;
  background-image: url(../img/hablando/banner-hablando.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9;
}
#desarrollando .logo h3{
  color: #ff8334;
	font-family:'Barlow-Bold';
	font-style:normal;
  font-weight:700;
  font-size: 60px  
}
#desarrollando .principal p{
  font-family: 'Barlow-Light';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #222473;
}
#desarrollando .principal p b{
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 700;
  color: #001843;
}
#desarrollando .principal .camb{
  font-family: 'Barlow-Medium';
  font-style: normal;
  font-weight: 500;
  color: #ff8334;
  font-size: 24px;
}

#desarrollando .imagen-c{
  position: absolute;
  bottom: 30px;
  left: calc(52.5% - 162.5px);
  z-index: -9;
}
#desarrollando .imagen-c img{
  position: relative;
  z-index: -9;
  /* width: 450px; */
  width: 325px;
}
#desarrollando .floro .fondo{
  position: relative;
  z-index: -99;
  /* left:23.5%; */
}
#desarrollando .floro-cont{
  position: absolute;
  z-index: 9;
  top: 20%;
  right: -10%;
}
#desarrollando .floro-cont h5{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  font-size: 24px;
  color: #fff;
}
#desarrollando .floro-cont .texto{
  font-family:'Barlow-MediumItalic';
  font-style:normal;
  font-weight:500;
  color: #222473;
  font-size: 16px;
}
#desarrollando .floro-cont .puesto{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;  
  font-size: 16px;
  color: #222473;
}
#desarrollando .floro-cont .conocer .btn-conoceme{
  background: white;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  padding: 5.5px 22.5px;
  padding-left: 40px;
  position: relative;
  color: #005cff;  
  font-family:'Barlow-Medium';
  font-style:normal;
  font-weight:500;
  font-size: 20px;
}
#desarrollando .floro-cont .conocer .btn-conoceme img{
  position: absolute;
  top: 0;
  left: -8.5px;
  width: 41px;
}


#desarrollando-des{
  background-color: #222473;
}
#desarrollando-des .separar{
  top: -120px;
  z-index: 9;
}
#desarrollando-des .titulo{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  color: white;  
  position: absolute;
  top: calc(50% - 26.8px);
  left: 10%;
  width: 80%;
  font-size: 36px;
  margin-bottom: 0;
}
#desarrollando-des .titulo b{
  color: #ff8334;
  border-bottom: 1px solid #ff8334;
}

#desarrollando-des #section-1 .practices_title{
  color: #ff8334;
}
#desarrollando-des #section-1 .practices_list{
  color: #ff8334;
}
#desarrollando-des .button-practices:hover{
  border-color: #ff8334 !important;
}
#desarrollando-de .button-practices..isActive[data-v-a7128ece]{
  border: 2px solid #ff8334 !important;
}
#desarrollando-de .button-practices[data-v-a7128ece]:focus{
  border: 2px solid #ff8334 !important;
}

#desarrollando-des .main-practices{
  min-height: unset;
}

#desarrollando-des .isActive span{
  color: #ff8334;
}
@media(max-width:1919px){
  .card-carousel .card-carousel--card span{
    font-size: 13px;
  }
  .main-practices__content .practices_title{
    font-size: 1.5rem;
  }
  .practices_title_description{
    font-size: 13px;
  }
  .download-files .evidencia{
    font-size: 26px;
  }
  .practices_documents, .practices_videos, .practices_other_files{
      font-size: 13px;
  }
}
@media(min-width:1919px){
  #desarrollando .floro-cont{
    top: 18.25%;
  }
}
/*------------- Fin escuchando --------------------*/


#balanceando{
  background-color: #0066c5;
}

#balanceando figure{
  margin: 0;
}
#balanceando{
  padding-top: 45px;
  padding-bottom: 30px;
  color: black;
  min-height: 100vh;
  position: relative;
  /* background-image: url(../img/hablando/banner-hablando.png); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9;
}
#balanceando .logo h3{
  color: #42e8b4;
	font-family:'Barlow-Bold';
	font-style:normal;
  font-weight:700;
  font-size: 60px  
}
#balanceando .principal p{
  font-family: 'Barlow-Light';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #fff;
}
#balanceando .principal p b{
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 700;
  color: #fff;
}
#balanceando .principal .camb{
  font-family: 'Barlow-Medium';
  font-style: normal;
  font-weight: 500;
  color: #42e8b4;
  font-size: 24px;
}

#balanceando .imagen-c{
  position: absolute;
  bottom: 30px;
  left: calc(52.5% - 162.5px);
  z-index: -9;
}
#balanceando .imagen-c img{
  position: relative;
  z-index: -9;
  /* width: 450px; */
  width: 325px;
}
#balanceando .floro .fondo{
  position: relative;
  z-index: -99;
  left: 15%;
}
#balanceando .floro-cont{
  position: absolute;
  z-index: 9;
  top: 20%;
  right: -10%;
}
#balanceando .floro-cont h5{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  font-size: 24px;
  color: #fff;
}
#balanceando .floro-cont .texto{
  font-family:'Barlow-MediumItalic';
  font-style:normal;
  font-weight:500;
  color: #ffffff;
  font-size: 16px;
}
#balanceando .floro-cont .puesto{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;  
  font-size: 16px;
  color: #42e8b4;
}
#balanceando .floro-cont .conocer .btn-conoceme{
  background: white;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  padding: 5.5px 22.5px;
  padding-left: 40px;
  position: relative;
  color: #005cff;  
  font-family:'Barlow-Medium';
  font-style:normal;
  font-weight:500;
  font-size: 20px;
}
#balanceando .floro-cont .conocer .btn-conoceme img{
  position: absolute;
  top: 0;
  left: -8.5px;
  width: 41px;
}


#balanceando-des{
  background-color: #222473;
}
#balanceando-des .separar{
  top: -120px;
  z-index: 9;
}
#balanceando-des .titulo{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  color: white;  
  position: absolute;
  top: calc(50% - 26.8px);
  left: 10%;
  width: 80%;
  font-size: 36px;
  margin-bottom: 0;
}
#balanceando-des .titulo b{
  color: #42e8b4;
  border-bottom: 1px solid #42e8b4;
}

#balanceando-des #section-1 .practices_title{
  color: #42e8b4;
}
#balanceando-des #section-1 .practices_list{
  color: #42e8b4;
}
#balanceando-des .button-practices:hover{
  border-color: #42e8b4 !important;
}
#balanceando-de .button-practices..isActive[data-v-a7128ece]{
  border: 2px solid #42e8b4 !important;
}
#balanceando-de .button-practices[data-v-a7128ece]:focus{
  border: 2px solid #42e8b4 !important;
}

#balanceando-des .main-practices{
  min-height: unset;
}

#balanceando-des .isActive span{
  color: #42e8b4;
}
#balanceando-des .img-footer{
  bottom: -30px;
}
@media(min-width:1367px){
  #balanceando .floro-cont{
    top: 22.55%;
  }
}
/*------------- Fin balanceando --------------------*/




/*celebrando*/

#celebrando figure{
  margin: 0;
}
#celebrando{
  padding-top: 45px;
  padding-bottom: 30px;
  color: black;
  min-height: 100vh;
  position: relative;
  background-image: url(../img/celebrando/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9;
}
#celebrando .logo h3{
  color: #2d2f8d;
	font-family:'Barlow-Bold';
	font-style:normal;
  font-weight:700;
  font-size: 60px  
}
#celebrando .principal p{
  font-family: 'Barlow-Light';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #222473;
}
#celebrando .principal p b{
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 700;
  color: #001843;
}
#celebrando .principal .camb{
  font-family: 'Barlow-Medium';
  font-style: normal;
  font-weight: 500;
  color: #222473;
  font-size: 24px;
}

#celebrando .imagen-c{
  position: absolute;
  bottom: 30px;
  left: calc(52.5% - 175px);
  z-index: -9;
}
#celebrando .imagen-c img{
  position: relative;
  z-index: -9;
  width: 405px;
}
#celebrando .floro .fondo{
  /* position: relative;
  z-index: -99;
  left:23.5%; */
  position: relative;
  z-index: -99;
  left: 21%;
  width: 498px;
  top: 9%;
}
#celebrando .floro-cont{
  position: absolute;
  z-index: 9;
  /* top: 25%; */
  top: 20%;
  right: -10%;
}
#celebrando .floro-cont h5{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  font-size: 24px;
  color: #f66f01;
}
#celebrando .floro-cont .texto{
  font-family:'Barlow-MediumItalic';
  font-style:normal;
  font-weight:500;
  color: white;
  font-size: 16px;
}
#celebrando .floro-cont .puesto{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;  
  font-size: 16px;
  color: #37c7f0;
}
#celebrando .floro-cont .conocer .btn-conoceme{
  background: white;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  padding: 5.5px 22.5px;
  padding-left: 40px;
  position: relative;
  color: #005cff;  
  font-family:'Barlow-Medium';
  font-style:normal;
  font-weight:500;
  font-size: 20px;
}
#celebrando .floro-cont .conocer .btn-conoceme img{
  position: absolute;
  top: 0;
  left: -8.5px;
  width: 41px;
}


#celebrando-des{
  background-color: #222473;
}
#celebrando-des .separar{
  top: -120px;
  z-index: 9;
}
#celebrando-des .titulo{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  color: white;  
  position: absolute;
  top: calc(50% - 26.8px);
  left: 10%;
  width: 80%;
  font-size: 36px;
  margin-bottom: 0;
}
#celebrando-des .titulo b{
  color: #f66f01;
  border-bottom: 1px solid #f66f01;
}

#celebrando-des #section-1 .practices_title{
  color: #f66f01;
}
#celebrando-des #section-1 .practices_list{
  color: #f66f01;
}
#celebrando-des .button-practices:hover{
  border-color: #f66f01 !important;
}
#celebrando-de .button-practices..isActive[data-v-a7128ece]{
  border: 2px solid #f66f01 !important;
}
#celebrando-de .button-practices[data-v-a7128ece]:focus{
  border: 2px solid #f66f01 !important;
}

#celebrando-des .main-practices{
  min-height: unset;
}

#celebrando-des .isActive span{
  color: #f66f01;
}

@media(min-width:1919px){
  #celebrando .floro-cont{
    top: 25%;
  }
}
/*------------- Fin celebrando --------------------*/


/*reconociendo*/

#reconociendo figure{
  margin: 0;
}
#reconociendo{
  padding-top: 45px;
  padding-bottom: 30px;
  color: black;
  min-height: 100vh;
  position: relative;
  background-image: url(../img/reconociendo/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9;
}
#reconociendo .logo h3{
  color: #fb5b87;
	font-family:'Barlow-Bold';
	font-style:normal;
  font-weight:700;
  font-size: 60px  
}
#reconociendo .principal p{
  font-family: 'Barlow-Light';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #222473;
}
#reconociendo .principal p b{
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 700;
  color: #001843;
}
#reconociendo .principal .camb{
  font-family: 'Barlow-Medium';
  font-style: normal;
  font-weight: 500;
  color:#fb5b87;
  font-size: 24px;
}

#reconociendo .imagen-c{
  position: absolute;
  bottom: 30px;
  left: calc(52.5% - 175px);
  z-index: -9;
}
#reconociendo .imagen-c img{
  position: relative;
  z-index: -9;
  width: 337px;
}
#reconociendo .floro .fondo{
  /* position: relative;
  z-index: -99;
  left:23.5%; */
  position: relative;
  z-index: -99;
  left: 10%;
  width: 560px;
  top: 9%;
}
#reconociendo .floro-cont{
  position: absolute;
  z-index: 9;
  /* top: 25%; */
  top: 20%;
  right: -10%;
}
#reconociendo .floro-cont h5{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  font-size: 24px;
  color: #37c7f0;
}
#reconociendo .floro-cont .texto{
  font-family:'Barlow-MediumItalic';
  font-style:normal;
  font-weight:500;
  color: white;
  font-size: 16px;
}
#reconociendo .floro-cont .puesto{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;  
  font-size: 16px;
  color: #fb5b87;
}
#reconociendo .floro-cont .conocer .btn-conoceme{
  background: white;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  padding: 5.5px 22.5px;
  padding-left: 40px;
  position: relative;
  color: #005cff;  
  font-family:'Barlow-Medium';
  font-style:normal;
  font-weight:500;
  font-size: 20px;
}
#reconociendo .floro-cont .conocer .btn-conoceme img{
  position: absolute;
  top: 0;
  left: -8.5px;
  width: 41px;
}


#reconociendo-des{
  background-color: #222473;
}
#reconociendo-des .separar{
  top: -120px;
  z-index: 9;
}
#reconociendo-des .titulo{
  font-family:'Barlow-Bold';
  font-style:normal;
  font-weight:700;
  color: white;  
  position: absolute;
  top: calc(50% - 26.8px);
  left: 10%;
  width: 80%;
  font-size: 36px;
  margin-bottom: 0;
}
#reconociendo-des .titulo b{
  color: #f66f01;
  border-bottom: 1px solid #f66f01;
}

#reconociendo-des #section-1 .practices_title{
  color: #f66f01;
}
#reconociendo-des #section-1 .practices_list{
  color: #f66f01;
}
#reconociendo-des .button-practices:hover{
  border-color: #f66f01 !important;
}
#reconociendo-de .button-practices..isActive[data-v-a7128ece]{
  border: 2px solid #f66f01 !important;
}
#reconociendo-de .button-practices[data-v-a7128ece]:focus{
  border: 2px solid #f66f01 !important;
}

#reconociendo-des .main-practices{
  min-height: unset;
}

#reconociendo-des .isActive span{
  color: #f66f01;
}

/* duda */
@media(min-width:1200px){
  #reconociendo .floro-cont{
    top: 25%;
  }
}

@media (min-width: 1200px) and (max-width: 1366px){

}

/*------------- Fin celebrando --------------------*/

@media(min-width:992px) and (max-width: 1199px){
  .mi-fila{
    padding: 0 !important;
  }
}
@media(min-width:1367px) and (max-width: 1399px){
  .mi-fila{
    padding: 0 !important;
  }
}

/* @media(min-width: 1200px) and (max-width:1399px){ */
/* @media(min-width: 992px) and (max-width:1399px){ */
@media(min-width: 992px) and (max-width:1366px){
  .floro-cont .texto{
    font-size: 13px !important;
  }
  .floro-cont h5{
    font-size: 19.5px !important;
  }
  .floro-cont .puesto{
    font-size: 13px !important;
  }
  .floro-cont .conocer .btn-conoceme{
    font-size: 16.25px !important;
  }
  .logo h3{
    font-size: 48.75px !important;
  }
  .principal p{
    font-size: 13px !important;
  }
  .principal .camb{
    font-size: 19.5px !important;
  }
  .principal p{
    padding-right: 30px;
  }

  #reconociendo .imagen-c img{
    width: 287px;
  }
  #reconociendo .imagen-c{
    left: calc(52.5% - 143.5px);
  }
  #reconociendo .floro .fondo{
    width: 400px;
  }


  #reconociendo .floro .fondo{
    width: 510px;
    left: 2.045%; 
  }

  #celebrando .imagen-c img{
    width: 331.66px;
  }
  #celebrando .imagen-c{
    left: calc(52.5% - 165.83px);
  }
  #celebrando .floro .fondo{
    width: 408px;
    top: 10%;
  }

  #balanceando .imagen-c img{
    width: 296.85px;
  }
  #balanceando .imagen-c{
    left: calc(52.5% - 148.43px);
  }
  #balanceando .floro .fondo{
    width: 376px;
    left: 25%;
  }

  #desarrollando .imagen-c img{
    width: 254.82px;
  }
  #desarrollando .imagen-c{
    left: calc(52.5% - 127.41px);
  }
  #desarrollando .floro .fondo{
    width: 510px;
  }

  #agradeciendo .floro-cont{
    top: 20%;
  }
  #agradeciendo .imagen-c img{
    width: 430.83px;
  }
  #agradeciendo .imagen-c{
    left: calc(52.5% - 215.41px);
  }
  #agradeciendo .floro .fondo{
    width: 448px;
  }
  #escuchando .imagen-c img{
    width: 290.28px;
  }
  #escuchando .imagen-c{
    left: calc(52.5% - 145.14px);
  }
  #escuchando .floro .fondo{
    width: 377px;
  }
  #hablando .imagen-c img{
    width: 329.03px;
  }
  #hablando .imagen-c{
    left: calc(52.5% - 164.52px);
  }
  #hablando .floro .fondo{
    /* width: 377px; */
    width: 512px;
    top: 4%;
  }
  #inspirando .floro-cont .texto{
    line-height: unset;
  }
  #inspirando .imagen-c{
    left: calc(55% - 334.555px);
  }  
  #inspirando .imagen-c img{
    width: 669.11px;
    bottom: -30px;
  }
  #inspirando .floro-cont{
    top: 25%;
  }


  .mi-fila{
    padding: 0 8%;
  }
}

/* @media(min-width: 992px) and (max-width: 1199px){
  #inspirando .floro-cont{
    top: 50%;
    right: 15%;
  }
}

@media(min-width:1200px) and (max-width: 1366px){
  #inspirando .floro-cont{
    top: 50%;
  }
  #celebrando .floro .fondo{
    top: 25%;
  }
  #celebrando .floro-cont{
    top: 41%;
  }
  #agradeciendo .floro .fondo{
    top: 25%;
  }
  #agradeciendo .floro-cont{
    top: 45%;
  } 
  #escuchando .floro .fondo{
    top: 10%;
  }
  #escuchando .floro-cont{
    top: 40%;
  }    
  #hablando .floro .fondo{
    top: 25%;
  }
  #hablando .floro-cont{
    top: 40%;
  }
  #inspirando .imagen-c{
    left: calc(56% - 334.555px);
  }
} */




/* @media(min-width: 1400px) and (max-width: 1679px){
  #reconociendo,
  #celebrando,
  #balanceando,
  #desarrollando,
  #agradeciendo,
  #escuchando,
  #hablando,
  #inspirando{
    min-height: 80vh;
  }
} */

@media(min-width: 1680px){
  .imagen-c img,
  .floro .fondo{
    width: unset !important;
  }
  .principal p{
    /* padding-right: 30px; */
    padding-right: 40.5px;
  }

  #inspirando .imagen-c{
    left: calc(57.5% - 421px);
  }
  #inspirando .floro-cont{
    top: 40%;
  }

  #hablando .floro .fondo{
    top: 20%;
  }
  #hablando .imagen-c{
    left: calc(52.5% - 250.5px);
  }
  #hablando .floro-cont{
    top: 40%;
  }


  #escuchando .floro .fondo{
    top: 15%;
  }
  #escuchando .imagen-c{
    bottom: -30px;
  }
  #escuchando .floro-cont{
    top: 40%;
  }



  #agradeciendo .imagen-c{
    left: calc(50% - 328px);
  }
  #agradeciendo .floro .fondo{
    top: 20%;
  }
  #agradeciendo .floro-cont{
    top: 40%;
  }

  #desarrollando .floro .fondo{
    top: 20%;
  }
  #desarrollando .imagen-c{
    bottom: 0px;
  }

  #desarrollando .floro-cont{
    top: 40%;
  }

  #desarrollando .imagen-c{
    left: calc(52.5% - 194px);
  }

  #balanceando .imagen-c{
    left: calc(52.5% - 226px);
  }
  #balanceando .floro .fondo{
    left: 14.4%;
  }


  #celebrando .imagen-c{
    left: calc(52.5% - 252.5px);
  }
  #celebrando .floro .fondo{
    top: 22.5%;
    left: 15%;
  }
  #celebrando .floro-cont{
    top: 40%;
  }

  #reconociendo .imagen-c{
    /* left: calc(52.5% - 218.5px); */
    left: calc(44.5% - 370px);
  }
  #reconociendo .floro .fondo{
    left: 0px;
  }
  #reconociendo .floro-cont{
    top: 37.5%;
  }
  #reconociendo .floro .fondo{
    top: 20%;
  }
}


/* @media(min-height: 1025px){
  #celebrando{
    min-height: unset;
    max-height: 1024px;
  }
} */






/* @media(min-width: 1400px) and (max-width: 1919px){
  #reconociendo,
  #celebrando,
  #balanceando,
  #desarrollando,
  #agradeciendo,
  #escuchando,
  #hablando,
  #inspirando{
    min-height: 80vh;
  }
}
  @media(min-width: 1920px){
    #reconociendo,
    #celebrando,
    #balanceando,
    #desarrollando,
    #agradeciendo,
    #escuchando,
    #hablando,
    #inspirando{
      min-height: 979px;
    }    
  } */

/*estoy en una patalla grande xd*/
/* @media(min-width: 1366px) and (max-width: 1919px){
  #reconociendo,
  #celebrando,
  #balanceando,
  #desarrollando,
  #agradeciendo,
  #escuchando,
  #hablando,
  #inspirando{
    min-height: 768px !important;
  }
} */


/* hasta 1399px  si le reducimos el alto*/
@media(min-width: 1920px) and (max-height: 977px){
  #reconociendo,
  #celebrando,
  #balanceando,
  #desarrollando,
  #agradeciendo,
  #escuchando,
  #hablando,
  #inspirando{
    min-height: 1014px;
  }
}
@media(min-width: 1200px) and (max-width:1366px) and (max-height: 666px){
  #reconociendo,
  #celebrando,
  #balanceando,
  #desarrollando,
  #agradeciendo,
  #escuchando,
  #hablando,
  #inspirando{min-height: 667px;}
}

@media(min-width: 1200px) and (max-width: 1919px) and (min-height: 769px){
    #reconociendo,
    #celebrando,
    #balanceando,
    #desarrollando,
    #agradeciendo,
    #escuchando,
    #hablando,
    #inspirando{
      min-height: 768px;
    }
  }
  @media(min-width: 992px) and (max-width: 1199px) and (min-height: 769px){
    #reconociendo,
    #celebrando,
    #balanceando,
    #desarrollando,
    #agradeciendo,
    #escuchando,
    #hablando,
    #inspirando{
      min-height: 768px;
    }
  }




/*abc*/

  #abc figure{
    margin: 0;
  }
  #abc{
    height: 100vh;
    padding-top: 90px;
    padding-bottom: 30px;
    color: black;
    min-height: 100vh;
    position: relative;
    background-image: url(../img/reconociendo/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9;
  }
  #abc .container.principal-h,
  #abc .row.principal-h{
    height: 100%;
  }

  #abc .imagen-c .imagen-tamano{
      width: 437px;
      position: absolute;
      bottom: 0;
  }
  #abc .imagen-c .imagen-tamano img{
    width: 100%;
}

  #abc .logo h3{
    color: #fb5b87;
    font-family:'Barlow-Bold';
    font-style:normal;
    font-weight:700;
    font-size: 60px;
    padding: 45px 0px 75px 0px;
  }
  #abc .principal p{
    font-family: 'Barlow-Light';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    color: #222473;
    padding-right: 0px;
  }
  #abc .principal p b{
    font-family: 'Barlow-Bold';
    font-style: normal;
    font-weight: 700;
    color: #001843;
  }
  #abc .principal .camb{
    font-family: 'Barlow-Medium';
    font-style: normal;
    font-weight: 500;
    color: #222473;
    font-size: 24px;
  }

  /* #abc .floro .fondo{
    position: absolute;
    z-index: -99;
    left: -10%;
    top: 10%;
  } */

  #abc .floro .imagen-texto{
    width: 610px;
    position: absolute;
    z-index: -99;
    left: -10%;
    top: 10%;
  }
   #abc .floro .fondo{  
     width: 100%;
  }

  #abc .floro-cont{
    position: relative;
    top: 22.5%;
  }
  #abc .floro-cont h5{
    font-family:'Barlow-Bold';
    font-style:normal;
    font-weight:700;
    font-size: 24px;
    color: #37c7f0;
  }
  #abc .floro-cont .texto{
    font-family:'Barlow-MediumItalic';
    font-style:normal;
    font-weight:500;
    color: white;
    font-size: 16px;
    padding-right: 0px !important;
  }
  #abc .floro-cont .puesto{
    font-family:'Barlow-Bold';
    font-style:normal;
    font-weight:700;  
    font-size: 16px;
    color: #fb5b87;
  }
  #abc .floro-cont .conocer .btn-conoceme{
    background: white;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    padding: 4.5px 22.5px;
    padding-left: 40px;
    position: relative;
    color: #005cff;  
    font-family:'Barlow-Medium';
    font-style:normal;
    font-weight:500;
    font-size: 24px;
  }
  #abc .floro-cont .conocer .btn-conoceme img{
    position: absolute;
    top: -1px;
    left: -8.5px;
    width: 47px;
  }
  
  
  #abc-des{
    background-color: #222473;
  }
  #abc-des .separar{
    top: -120px;
    z-index: 9;
  }
  #abc-des .titulo{
    font-family:'Barlow-Bold';
    font-style:normal;
    font-weight:700;
    color: white;  
    position: absolute;
    top: calc(50% - 26.8px);
    left: 10%;
    width: 80%;
    font-size: 36px;
    margin-bottom: 0;
    padding-left: 10%;
  }
  #abc-des .titulo b{
    color: #f66f01;
    border-bottom: 1px solid #f66f01;
  }
  
  #abc-des #section-1 .practices_title{
    color: #f66f01;
  }
  #abc-des #section-1 .practices_list{
    color: #f66f01;
  }
  #abc-des .button-practices:hover{
    border-color: #f66f01 !important;
  }
  #abc-de .button-practices..isActive[data-v-a7128ece]{
    border: 2px solid #f66f01 !important;
  }
  #abc-de .button-practices[data-v-a7128ece]:focus{
    border: 2px solid #f66f01 !important;
  }
  
  #abc-des .main-practices{
    min-height: unset;
  }
  
  #abc-des .isActive span{
    color: #f66f01;
  }



  
  @media (max-height: 977px) and (min-width: 1920px){
  #abc {
      min-height: 1014px;
  }
}

@media(min-width:1200px) and (max-width: 1399px){
  #abc .imagen-c .imagen-tamano img{
    width: 80%;
  }
  #abc .floro .fondo{
    width: 80%;
  }
}
#inline .inline-reconociendo h4,
#inline .inline-reconociendo p{
    color: #005cff;  
}




/*Toda la pantalla*/
/* #intermedio1,
#intermedio2,
#intermedio3,
#intermedio4,
#intermedio5,
#intermedio6,
#intermedio7,
#intermedio8{
  height: 100vh;
}

#intermedio1 .intermedio1,
#intermedio2 .intermedio2,
#intermedio3 .intermedio3,
#intermedio4 .intermedio4,
#intermedio5 .intermedio5,
#intermedio5 .intermedio6,
#intermedio5 .intermedio7,
#intermedio5 .intermedio8{
  height: 100%;
}
.row.intermedio1,
.row.intermedio2,
.row.intermedio3,
.row.intermedio4,
.row.intermedio5,
.row.intermedio6,
.row.intermedio7,
.row.intermedio8{
  align-items: center;
} */
/* @media(min-width: 992px) and (max-width:1399px){
  #intermedio1,
  #intermedio2,
  #intermedio3,
  #intermedio4,
  #intermedio5,
  #intermedio6,
  #intermedio7,
  #intermedio8{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
} */

@media(min-width: 1200px) and (max-width:1919px){
  .separar{
    top: -90px !important;
  }
}

@media(min-width: 1367px) and (max-width: 1919px){
  #navegador{
    transform: unset !important;
  }
}

@media(max-width:1919px){
  #navegador{
    transform: scale(.9);
    left: -22px;
  }
  #inspirando .imagen-c{
    /* left: calc(64% - 334.555px); */
    left: calc(60% - 316px);
    bottom: -5px;
  }
  #inspirando .imagen-c img{
    width: 632.11px;
  }
  .btn-conoceme img{
    top: -1px !important;
    left: -6.5px !important;
    width: 36px !important;    
  }
  #reconociendo .imagen-c img{
    width: 407px;
  }
  #reconociendo .imagen-c{
    left: calc(47.5% - 205.5px);
  }
  #reconociendo .floro .fondo{
    width: 458px;
    left: 14.045%;
    top: 6%;
  }
  /* #reconociendo .floro .fondo{
    /* top: -4%; */
  .separar{
    top: -95px !important;
  }    
   
  #homeprincipal .background_1{
    min-height: 568px !important;
  }  



}


/*XL*/
  @media(min-width:1200px) and (max-width:1919px){
    .container_reclutando{
      max-height: 768px;
      height: 100vh;
    }
    #hablando,#escuchando,#agradeciendo,#desarrollando,#balanceando,#celebrando,#reconociendo,#inspirando{
      max-height: 768px;
      height: 100vh;
    }
  }
/* floro-cont 25% en alto*/
  @media(min-width:1200px) and (max-width:1919px) and (min-height: 765px){
    .container_reclutando{
      min-height: 764px;
    }    
    #inspirando .floro-cont{
      top: 45% !important;
    }
    #hablando .floro,#escuchando .floro,#agradeciendo .floro,#desarrollando .floro,#balanceando .floro,#celebrando .floro,#reconociendo .floro{
      top: 100px;
    }
    #celebrando .floro-cont{
      top: 26%;
    }
    #reconociendo .imagen-c img{
      width: 427px;
    }
    /* #homeprincipal .background_1{
      min-height: 568px !important;
    } */
  }

  @media(min-width:1200px) and (max-width:1919px) and (max-height: 666px){
    .container_reclutando{
      min-height: 667px
    }
    #hablando,#escuchando,#agradeciendo,#desarrollando,#balanceando,#celebrando,#reconociendo,#inspirando{
      min-height: 667px;
    }       
  }
  /* @media(min-width:1200px) and (max-width:1919px) and (min-height: 769px){
    #homeprincipal .background_1{
      min-height: 780px !important;
    }
  } */


/*MD*/
  @media(max-width: 1199px){
    .separar{
      top: -80px !important;
    }
    .container_reclutando{
      height: 100vh;
      max-height: 670px;
      /* height: 100vh; */
    }
    #hablando,#escuchando,#agradeciendo,#desarrollando,#balanceando,#celebrando,#reconociendo,#inspirando{
      max-height: 670px;
      height: 100vh;
    }    
  }

  @media(max-width: 1199px) and (min-height:671px){
    #inspirando .floro-cont{
      top: 47% !important;
    }
    #hablando .floro,#escuchando .floro,#agradeciendo .floro,#desarrollando .floro,#balanceando .floro,#celebrando .floro,#reconociendo .floro{
      top: 100px;
    }
    /* #homeprincipal .background_1{
      min-height: 568px !important;
    }         */
  }
  @media(max-width: 1199px) and (max-height: 669px){
    .container_reclutando{
      min-height: 670px;
    }
    #hablando,#escuchando,#agradeciendo,#desarrollando,#balanceando,#celebrando,#reconociendo,#inspirando{
      min-height: 670px;
    }       
  }


  
   /* @media(min-width: 1367px) and (max-width: 1919px){      */
@media(min-width: 1400px) and (max-width: 1919px){
    #homeprincipal .background_1{
      min-height: 779px !important;
    }
    .container_reclutando{
      min-height: 920px !important;
    }
    #hablando, #escuchando, #agradeciendo, #desarrollando, #balanceando, #celebrando, #reconociendo, #inspirando{
      min-height: 920px;
    }
    #inspirando .imagen-c img{
      width: 730.11px;
    }
    #inspirando .imagen-c{
      left: calc(59% - 316px);
    }
    #escuchando .imagen-c img{
      width: 380px !important;
    }
    #escuchando .imagen-c{
      bottom: -30px;
    }
    #escuchando .imagen-c{
      left: calc(54.5% - 175px);
    }
    #escuchando .floro-cont{
      top: 25%;
    }
    #agradeciendo .imagen-c img{
      bottom: -30px;
    }
    #agradeciendo .imagen-c img{
      width: 562px;
    }
    #hablando .floro, #escuchando .floro, #agradeciendo .floro, #desarrollando .floro,#celebrando .floro, #reconociendo .floro{
      top: 140px !important;      
    }

    #balanceando .floro{
      top: 80px !important;
    }
    #reconociendo .floro .fondo{
      width: 513px !important;
      left: 16.045% !important;
    }
    #reconociendo .imagen-c{
      left: calc(41.5% - 205.5px) !important;    
    }
    #reconociendo .imagen-c img{
      width: 528px !important;
    }
    .floro-cont .conocer .btn-conoceme img{
      top: -0.8px !important;
      width: 43px !important;
    }
    #inspirando .floro-cont{
      /* top: 52% !important; */
    }
    #homeprincipal .corazong{
      width: 429px;
    }    
  }

 @media(min-width:1367px) and (max-width: 1399px){

    #homeprincipal .background_1{
      min-height: 779px !important;
    }
    .container_reclutando{
      min-height: 920px !important;
    }
    #hablando, #escuchando, #agradeciendo, #desarrollando, #balanceando, #celebrando, #reconociendo, #inspirando{
      min-height: 920px;
    }
    #inspirando .imagen-c img{
      width: 730.11px;
    }
    #inspirando .imagen-c{
      left: calc(59% - 316px);
    }
    #escuchando .imagen-c img{
      width: 380px !important;
    }
    #escuchando .imagen-c{
      bottom: -30px;
    }
    #escuchando .imagen-c{
      left: calc(54.5% - 175px);
    }
    #escuchando .floro-cont{
      top: 25%;
    }
    #agradeciendo .imagen-c img{
      bottom: -30px;
    }
    #agradeciendo .imagen-c img{
      width: 562px;
    }
    #hablando .floro, #escuchando .floro, #agradeciendo .floro, #desarrollando .floro,#celebrando .floro, #reconociendo .floro{
      top: 140px !important;      
    }

    #balanceando .floro{
      top: 80px !important;
    }
    #reconociendo .floro .fondo{
      width: 513px !important;
      left: 16.045% !important;
    }
    #reconociendo .imagen-c{
      left: calc(41.5% - 205.5px) !important;    
    }
    #reconociendo .imagen-c img{
      width: 528px !important;
    }
    .floro-cont .conocer .btn-conoceme img{
      top: -0.8px !important;
      width: 43px !important;
    }    


    #homeprincipal .corazong{
      width: 429px;
    }
    #navegador{
      left: -15px !important;
    }
    /* #final .fila-1 .banner1{      
    min-width: calc(50vw + -15px);
    max-width: calc(50vw + -15px);
    } */
  }
  @media(min-width: 1500px) and (max-width: 1919px){
    #inspirando .floro-cont{
      top: 49% !important;
    }
    #inspirando .imagen-c{
      left: calc(58% - 316px);
    }
    #inspirando .imagen-c img{
      width: 730.11px !important;
    }
    /* #inspirando .floro-cont{
      top: 45% !important;
    } */
}
@media(min-width: 1700px) and (max-width: 1919px){
  #inspirando .floro-cont{
    top: 45% !important;
  }
  #inspirando .imagen-c{
    left: calc(57% - 316px);
  }
}

@media(min-width: 1200px) and (max-width: 1366px){
  #celebrando .floro-cont{
    top: 25%;
  }
}

@media(min-width:1400px) and (max-width: 1919px) and (max-height: 750px){
  #inspirando .floro-cont{
    top: 49% !important;
  }
}

/* @media (max-width: 1919px) and (min-width: 1400px){
  #desarrollando {
      min-height: 920px !important;
  }
} */
#reconociendo .floro-cont .puesto{
  margin-left: 37% !important;
  line-height: 1.25;
  text-align: left !important;
}
#escuchando .floro-cont h5{
  margin-left: 28%;
  text-align: left !important;
}
#escuchando .floro-cont .puesto{
  margin-left: 28% !important;
  /* line-height: 1.25; */
  text-align: left !important;
}
#escuchando .floro-cont .texto{
  margin-left: 28% !important;
  text-align: left !important;
}
#escuchando .floro-cont{
  margin-left: 50%;
}
#escuchando .floro-cont .conocer .btn-conoceme{
  margin-right: 15px;
}

#celebrando .principal p{
  text-shadow: 0px 0px 0.1px #222473;
}
#reconociendo .floro-cont h5{
  margin-left: 27%;
}
@media(max-width: 1366px){
  #reconociendo .floro-cont .puesto{
    margin-left: 37% !important;
  }
  #reconociendo .floro-cont h5{
    margin-left: 37% !important;
  }
}
@media(max-width: 1199px){
  #escuchando .floro-cont h5{
    margin-left: 15%;
  }
  #escuchando .floro-cont .puesto{
    margin-left: 15% !important;
  }
  #escuchando .floro-cont .texto{
    margin-left: 15% !important;
  }
  #escuchando .floro-cont{
    margin-left: 50%;
  }
  #escuchando .floro-cont .conocer .btn-conoceme{
    margin-right: 15px;
  }

  /* #reconociendo .floro-cont .puesto{
    margin-left: 37% !important;
  }
  #reconociendo .floro-cont h5{
    margin-left: 37% !important;
  } */
}
@media(min-width: 1401px) and (max-width: 1919px) and (max-height: 764px){
  #celebrando .floro-cont{
    top: 25%;
  }
}